.header {
  height: 60px;
  width: 100%;
  background: transparent;
  box-shadow: 0px 0.5px 4px 0px rgba(0, 0, 0, 0.2);
  .brand {
    img {
      margin-left: 50px;
      margin-top: 5px;
      height: 50px;
    }
    span {
      font-family: 'Courier New', Courier, monospace;
      font-size: 40px;
      letter-spacing: 5px;
      position: absolute;
      top: 10px;
      margin-left: 10px;
    }
  }
  .link {
    text-transform: uppercase;

    ul {
      margin-top: -40px;
      margin-right: 100px;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      li a {
        margin-left: 50px;
        text-decoration: none;
      }
    }
  }
  .bar {
    display: none;
  }
  .active {
    color: green;
  }
}

// mobile view

@media (max-width: 768px) {
  .header {
    .brand {
      display: flex;
      justify-content: center;
      margin-left: -200px;
    }
    .bar {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 25px;
      color: #00e389ff;
    }
    .link {
      display: none;
      position: absolute;
      top: 120px;
      left: -40px;
      // display: none;
      ul {
        display: block;
        li {
          margin-bottom: 10px;
        }
      }
    }
    .link-aktif {
      display: block;
    }
  }
}
