.header {
  position: absolute;
  top: 20px;
  height: 60px;
  width: 100%;
  // logo gpos
  .brand {
    a {
      text-decoration: none;
      color: black;
    }
    img {
      margin-left: 50px;
      margin-top: 5px;
      height: 50px;
      animation: brand 1.5s ease-in-out;
    }
    span {
      font-size: 40px;
      letter-spacing: 5px;
      position: absolute;
      top: 5px;
      margin-left: 10px;
    }
  }
  // animasi brand logo

  @keyframes brand {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  // navlink
  .link {
    text-transform: uppercase;

    ul {
      margin-top: -40px;
      margin-right: 100px;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      li a {
        margin-left: 50px;
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
  }
  // menu icon
  .bar {
    display: none;
  }
  // className when active
  .active {
    padding: 10px 0px;
    border-bottom: 5px solid white;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
  }
}

.headerBrand {
  display: block;
  .link {
    display: none;
  }
}

// mobile view

@media (max-width: 768px) {
  .header {
    .active {
      padding: 0;
      border: none;
    }
    .bar {
      display: block;
      position: absolute;
      top: 10px;
      right: 30px;
      font-size: 35px;
      color: #00e389ff;
      animation: bar 1.5s ease-in-out;
    }

    @keyframes bar {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(180deg);
      }
    }

    .link {
      display: none;
      position: absolute;
      top: 120px;
      left: -40px;
      animation: link 0.5s ease-in-out;
      ul {
        display: block;
        li a {
          margin-top: 20px !important;
          color: black;
        }
        li {
          margin-bottom: 20px;
        }
      }
    }
    .link-aktif {
      display: block;
    }
  }

  @keyframes link {
    from {
      transform: translateX(-500px);
    }
    to {
      transform: translateX(0);
    }
  }
  .headerBrand {
    .brand {
      display: block;
    }
    .bar {
      display: none;
    }
  }
  .loginHeader {
    display: none;
  }
}
