.sidenav,
.hidenav {
  height: 100%;
  width: 180px;
  position: absolute;
  left: 0;
  background: white;
  border-right: 1px solid lightgray;
  .brand {
    position: absolute;
    left: 25%;
    top: 10px;
    text-align: center;
    p {
      font-size: 16px;
      font-family: monospace;
      letter-spacing: 2px;
      margin-top: 10px;
    }
    img {
      height: 80px;
    }
  }
  .nav-link {
    position: absolute;
    left: -20px;
    top: 150px;
    ul {
      list-style-type: none;
      li {
        padding: 10px 80px;
        margin-bottom: 10px;
        height: 40px;
        width: 200px;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 400;
        font-family: 'Courier New', Courier, monospace;
      }
      li:hover:not(.active) {
        background: rgb(230, 230, 230);
        width: 200px;
      }
      a {
        text-decoration: none;
        color: black;
      }

      // active classname
      @media (min-width: 800px) {
        .active {
          background: rgb(230, 230, 230);
          position: absolute;
          margin-top: -15px;
          padding: 10px 80px;
          height: 40px;
          width: 100%;
          left: 0;
        }
      }

      .logout {
        cursor: pointer;
      }
      i {
        position: absolute;
        margin-left: -25px;
        margin-top: -15px;
        font-size: 12px;
        color: #00e389ff;
      }
      .dollarsign {
        margin-left: -20px;
      }
    }
  }
  .hideArrow {
    i {
      display: block;
      position: absolute;
      right: 0;
      top: -6px;
      font-size: 20px;
      color: #00e389ff;
      cursor: pointer;
    }
  }
  .arrow {
    i {
      display: none;
    }
  }
}
@media (min-width: 800px) {
  .hidenav {
    width: 80px;
    .brand {
      display: none;
    }
    .hideArrow {
      display: none;
    }
    .arrow {
      i {
        display: block;
        position: absolute;
        margin-left: 25px;
        margin-top: 20px;
        font-size: 30px;
        color: #00e389ff;
        cursor: pointer;
      }
    }
    ul {
      margin-top: -50px;
      margin-left: -5px;
      .active {
        background: transparent !important;
        margin-left: -5px;
      }
      li:hover {
        background: transparent !important;
      }
      li {
        margin-top: 20px;
        i {
          font-size: 20px !important;
        }
        span {
          display: none;
        }
      }
    }
  }
}

// mobile view
@media (max-width: 767px) {
  .sidenav,
  .hidenav {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    box-shadow: 0px 0px 1px 1px lightgray;
    .brand {
      display: none;
    }
    .nav-link {
      position: absolute;
      top: 5px;
      left: 13%;
      width: 100%;
      .active {
        display: block;
      }
      ul {
        display: flex !important;
        justify-content: space-between !important;
        margin-top: 30px;
        .logout {
          display: none;
        }
        li {
          padding: 0;
          margin: auto;
          span {
            display: none;
          }
        }
      }
    }
  }
}
